<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/admin/header') %>
        <title>Study Material</title>
    </head>
<body>

    <%- include('../../partials/admin/navbar') %>


    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center mt-3"> Study Material</h1>
                    <div class="">
                        <% if(alerts.error){ %> 
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%= alerts.error %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                        <% } %>
                        <% if(alerts.success){ %> 
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <%= alerts.success %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                        <% } %> 
                    </div>
                   <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-striped bg-light mt-3">
                        <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Video Link</th>
                            <th>Video</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th class="text-center">Operations</th>
                        </thead>
                        <tbody>
                            <% studyMaterials.forEach(function(element){ %>
                                <tr>
                                    <td><%= element.name %></td>
                                    <td><%= element.desc %></td>
                                    <td><%= element.code %></td>
                                    <td><a href="<%= element.video_link %>" target="video" >Video Link</a></td>
                                    <td><a href="<%= element.fileName %>" target="video" >Video</a></td>
                                    <td><%= element.date %></td>
                                    <td><%= element.status %></td>
                                    <td class="text-center">
                                    <a href="/admin/updateStudyMaterial/<%= element._id %>"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
                                    <a href="/admin/deleteStudyMaterial/<%= element._id %>" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            
                                <%  }); %>
                         
                                
                
                        </tbody>
                    </table>
                   </div>
                </div>
                <div class="col-12 mt-3">
                    <div>
                        <!-- <iframe src=""   name="video" style="border:none;" title="Iframe Example"></iframe> -->
                        <iframe src="" width="100%" name="video" height="700px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="https://player.vimeo.com/api/player.js"></script>
<script>

    var iframe = document.querySelector('iframe');
    var player = new Vimeo.Player(iframe);

    player.on('play', function() {
        alert('You have played the video')
    });
        player.on('ended', function(){
        alert('Video play completed');
    });

    player.getVideoTitle().then(function(title) {
        console.log('title:', title);
    });
</script>
    

    <%- include('../../partials/admin/footer') %>

</body>

</html>